#title{
    text-align: center;
    color:blue;
   
}
#color{
    color:green;
    background-color: yellow;
}
#MI{
    display: inline-block;
    color:red;
    background-color: yellow;
}
body{
    line-height:1.5;
}#sections{
    line-height:1;
}
#blue{
    color:blue;
}
hr{
   color:blue;  
}
#test{
    padding-left: 20px; display:block
}
#indent{
    margin-left:40px;
}

body{ 
    font-size: 16px;

}
h1{
    font-size:2em;
}
#heading{
    color:blue;
    background-color:yellow;
    font-size: 2rem;
    text-align: center;
}
a:active{
    color:green;}
a:hover{
    color:red;
}
#footer{
    align-items: right;
}